<div id="admin">
	<ul>
		<li><%= link_to '用户管理', SUBURI + "/view_handler?index=1&url=#{users_path}" %></li>
		<li><%= link_to '查看系统记录', SUBURI + "/view_handler?index=1&url=#{sys_logs_path}" %></li>
	</ul>
</div>


