// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "layout.css.scss";
#users_controller {
  ul {
    margin: 0;
    padding: 10px;
    font-size: 150%;
    font-weight: bold;
      
    li {
      padding: 5px 5px;
        
      a {
        color: $main-color;
        text-decoration: underline;
        padding: 2px;
        &:hover {
          color: lighten($main-color, 20%);
        }
      }
    }
  }
}